body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    height: 100vh;
    width: 100%;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
}

.content input {
    border: none;
    background: #f2f2f2;
    -webkit-box-shadow: 5px 5px 10px #e2e2e2;
    box-shadow: 5px 5px 10px #e2e2e2;
    height: 20vh;
    font-size: 5vh;
    width: 20%;
    text-align: center;
    font-family: 'Montserrat';
    border-radius: 20px;
    max-width: 200px
}

.content .moins,
.content .plus {
    width: 10%;
    background: #f2f2f2;
    height: 20vh;
    line-height: 20vh;
    text-align: center;
    font-size: 5vh;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 10px #e2e2e2;
    box-shadow: 5px 5px 10px #e2e2e2;
    cursor: pointer;
    max-width: 150px;
}

.content .moins {
    background: #ff6e6e;
}

.content .plus {
    background: #a4a1ff;
}
